.heading {
  background-color: #DBDFFD;
  margin-bottom: 40px;
}



h1 {
  color: #2E0249;
  text-align: center;
  font-size: 85px;
  margin-top: 1%;
}


.footwear{
  width: 33%;
  display: inline-block;

}

.apparel{
  width:33%;
  display: inline-block;

}

.sunglasses{
  width:33%;
  display: inline-block;

}



.apparelimg{
  width: 70%;
}



.footwearimg{
  width: 70%;
}



.sunglassesimg{
  width: 70%;
}

.BOTTOMWEARimg{
  width: 60%;
}
